.Cremalab__About-Wrapper{
  max-width:100%;
  display:block;
  margin:0 auto;
  text-align: center;
}

.Cremalab__About--separatorLine{
  width:100%;
  border-bottom:2px solid $cremaLightGrey;
  margin:75px 0 75px 0;
}

.Cremalab__About--hightlightLine{
  display:block;
  margin:50px auto 50px auto;
  height:2px;
  width:215px;
  border-bottom:3px solid $cremaPurple;
}

.Cremalab__About--header{

}
.Cremalab__About--byline{
  font-size:22px;
  font-family:'MerriWeather-Regular';
  font-weight: 400;
}
.Cremalab__About--subheader{
  margin:0 0 50px 0;
}

.Cremalab__AboutCopyWrapper{
  display:block;
  margin:0 auto;
  max-width:900px;
  &:last-child{
    margin-bottom:75px;
  }
}

.Cremalab__About-copy{
  line-height:2;
  font-size:16px;
  color:$cremaGrey;
}


.Cremalab__About-TrustTriangleWrapper{

  position: relative;
  display:block;
  margin:0 auto;
}

.Cremalab__About-image{
  margin-bottom:50px;
}


@media screen and (max-width:568px){
  .Cremalab__About-Wrapper{

  }
  .Cremalab__About--header{
    font-size:48px;
  }
  .Cremalab__About--number{
    display:none;
  }
}
