.Cremalab__ApproachPageWrapper{
  position: relative;
}

.Cremalab__ApproachPage-HeroWrapper{
  height:725px;
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  bottom:85px;
}

.Cremalab__ApproachPageHeading{
  font-size:6vw;
  line-height:1.25;
  color:$cremaWhite;
  text-align:center;
  position: relative;
  display:block;
  margin:0 auto;

}

.Cremalab__ApproachHeroImage{
}

.crossDisciplineContainer{
  position: relative;
}
.CremalabApproachPage--crossDisciplineImage{

  display:block;
  margin:0 auto;
}

.Cremalab__ApproachPage-StartupHeader{
  width:100vw;
  line-height:1;
  font-size:48px;
  text-align: center;
  margin:0 0 66px 20px;
}

.Cremalab__ApproachPage-StartupTeamWrapper{

  margin:0 auto;
  position: relative;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;


}

.Cremalab__ApproachPage-StartupTeam--subItem{
  text-align: center;
  height:215px;
  width:300px;
  h3{
    font-family:"AvenirNext-Bold";
    font-size:24px;
  }
  p{
    font-family:"MerriWeather-Regular";
    font-size:16px;
    margin:0 auto 20px auto;
    line-height: 1.7;
    color:$cremaGrey;
  }
}

.Cremalab__ApproachPage-ProcessWrapper{
  background-color:$cremaSmoke;
  text-align:center;



}
.Cremalab__ApproachPage--processHeaderContainer{
  text-align: center;
  display:block;
  margin:0 auto;
}

.Cremalab__ApproachPage-IterativeApproachContainer{
  background-color:$cremaWhite;

}

.CremalabApproachPage--ProcessHeader{
  width:100vw;
  display:block;
  flex:0 0 100%;
  text-align:center;
  line-height:1;
  font-size:48px;
  margin:2% auto 2% auto;
  padding-top:35px;
}
.Cremalab__ApproachPage-ProcessAnimationWrapper{

  background-color:$cremaWhite;
  width:100%;


}
.Cremalab__ApproachPage--processImage{
  width:250px;
  display: inline-block;
  &:last-child{
    margin-bottom:44px;
  }
}

.Cremalab__ApproachPage--approachArrow{
  width:750px;
  margin:50px;
}

@media screen and (max-width: 1011px){
  .Cremalab__ApproachPage-ProcessAnimationWrapper{
    display:block;
    margin:0 auto;
    width:738px;
  }
}

@media screen and (max-width: 768px){
  .Cremalab__ApproachPageHeading{
    font-size:9vw;
  }

}

@media screen and (max-width: 414px){
  .Cremalab__ApproachPage-ProcessAnimationWrapper{
    display:block;
    margin:0 auto;
    width:400px;
  }

  .CremalabApproachPage--crossDisciplineImage{
    display:block;
    margin:0 auto;
    height:250px;
  }

}
