#post{
  position: relative;

}
.Cremalab__BlogIndexPageWrapper{
  background-color:$cremaSmoke;
}
.Cremalab__BlogItemLinkBlock{
  text-decoration: none;
  color:black;
}
.Cremalab__BlogItemLinkBlock:visited{
  text-decoration: none;
  color:black;
}

.Cremalab__YellowBackground{
  background-color:$cremaYellow;
  position:absolute;
  width:100%;
  height:371px;
  top:0px;
}

.Cremalab__BlogItemsContainer{

  position: relative;

  max-width:1300px;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: flex-start;
}

.Cremalab__BlogItemWrapper{
  position: relative;
  background-color:$cremaWhite;
  width:300px;
  margin:0 20px 20px 0;
}

.Cremalab__BlogItem--indexImage{
  position: relative;
  height:301px;
  width:300px;
}
.Cremalab__BlogItem--TitleContainer{

  position: relative;
  height:77px;
  padding:10px;
  overflow:hidden;
}

.Cremalab__BlogItemTitle{
  font-family:"AvenirNext-Bold";
  font-size:18px;
  text-transform:uppercase;
  margin:0;
}


.Cremalab__BlogItemAuthor{
  font-size:14px;
  text-transform: uppercase;
  margin:0;
}

.Cremalab__BlogItemCategory{
  text-align:center;
  position: absolute;
  bottom:95px;
  right:20px;
  background-color: $cremaWhite;
  height:23px;
  width:105px;

  p{
    padding-top:3px;
    font-family:"AvenirNext-Medium";
    text-transform:uppercase;
    font-size:12px;
    color:$cremaWhite;
    margin:0;
  }

}
.Cremalab__BlogItemCategory--green{
  @extend .Cremalab__BlogItemCategory;
  background-color:$cremaGreen;

}

.Cremalab__BlogItemCategory--red{
  @extend .Cremalab__BlogItemCategory;
  background-color:$cremaRed;

}
.Cremalab__BlogItemCategory--purple{
  @extend .Cremalab__BlogItemCategory;
  background-color:$cremaPurple;

}

.Cremalab__BlogItemCategory--blue{
  @extend .Cremalab__BlogItemCategory;
  background-color:$cremaBlue;

}

.Cremalab__BlogItemCategory--hotPink{
  @extend .Cremalab__BlogItemCategory;
  background-color:$cremaHotPink;

}

.Cremalab__BlogItemCategory--orange{
  @extend .Cremalab__BlogItemCategory;
  background-color:orange;

}

.Cremalab__BlogItem--videoIndicator{
  position: absolute;
  z-index: 999;
  text-align: center;
  display: block;
  margin: 0 auto;
  left: 40%;
  top: 34%;
}

.Cremalab__BlogPost--HeaderImage{

  position: relative;
  min-height:318px;
  max-height:318px;
  overflow:hidden;
  margin-bottom:35px;
  img{
    position: relative;
    top:80px;
    width:100%;
    transform:translateY(-30%);
  }
}

.Cremalab__BlogPost--categoryDisplay{

  height: 23px;
  width: 105px;

  position: absolute;
  right: 15%;
  bottom: -11px;
  p{
    text-align:center;
    padding-top:3px;
    font-family:"AvenirNext-Medium";
    text-transform:uppercase;
    font-size:12px;
    color:$cremaWhite;
  }
}
.Cremalab__BlogPost--categoryDisplay--green{
  @extend .Cremalab__BlogPost--categoryDisplay;
  background-color:$cremaGreen;

}

.Cremalab__BlogPost--categoryDisplay--red{
  @extend .Cremalab__BlogPost--categoryDisplay;
  background-color:$cremaRed;

}
.Cremalab__BlogPost--categoryDisplay--purple{
  @extend .Cremalab__BlogPost--categoryDisplay;
  background-color:$cremaPurple;

}

.Cremalab__BlogPost--categoryDisplay--blue{
  @extend .Cremalab__BlogPost--categoryDisplay;
  background-color:$cremaBlue;

}

.Cremalab__BlogPost--categoryDisplay--hotPink{
  @extend .Cremalab__BlogPost--categoryDisplay;
  background-color:$cremaHotPink;

}

.Cremalab__BlogPost--categoryDisplay--orange{
  @extend .Cremalab__BlogPost--categoryDisplay;
  background-color:orange;

}





.Cremalab__BlogPost--Title{
  font-family:"AvenirNext-Bold";
  font-size:48px;
  line-height: 1.4;
  display:block;
  width:100%;
}

.Cremalab__BlogPost--authorDisplay{
  font-family:"AvenirNext-Regular";
  font-size:18px;
  color: $cremaGrey;
}

.Cremalab__BlogPost-HeaderWrapper{
  position: relative;
  overflow: visible;
  min-width:500px;
}

.Cremalab__BlogPost-ContentContainer{
  max-width:840px;
  margin:0 auto;
}

.Cremalab__BlogPostContent{
  p{
    font-family:'MerriWeather-Regular';
    font-size:18px;
    line-height: 1.9;
    color: $cremaGrey;
  }
  h3{
    font-family:'MerriWeather-Bold';
    font-size: 24px;
  }
}


.Cremalab__BlogPost-categoryHighlight{
  height:2px;
  width:96px;
  margin-top:45px;
  margin-bottom:45px;
}

.Cremalab__BlogPost-categoryHighlight--green{
  @extend .Cremalab__BlogPost-categoryHighlight;
  background-color:$cremaGreen;

}
.Cremalab__BlogPost-categoryHighlight--red{
  @extend .Cremalab__BlogPost-categoryHighlight;
  background-color:$cremaRed;
}
.Cremalab__BlogPost-categoryHighlight--purple{
  @extend .Cremalab__BlogPost-categoryHighlight;
  background-color:$cremaPurple;
}
.Cremalab__BlogPost-categoryHighlight--blue{
  @extend .Cremalab__BlogPost-categoryHighlight;
  background-color:$cremaBlue;
}
.Cremalab__BlogPost-categoryHighlight--hotPink{
  @extend .Cremalab__BlogPost-categoryHighlight;
  background-color:$cremaHotPink;
}
.Cremalab__BlogPost-categoryHighlight--orange{
  @extend .Cremalab__BlogPost-categoryHighlight;
  background-color:orange;
}

.Cremalab__BlogPost-categoryHighlight--empty{
  @extend .Cremalab__BlogPost-categoryHighlight;
  background-color:transparent;
}


.Cremalab__BlogItem--navLinksWrapper{
  border:1px solid $cremaGrey;
  display:flex;
  flex-wrap:nowrap;
  position: relative;
}

.Cremalab__BlogItem--navLink{
  position: relative;
  margin:auto;
  padding:25px 0 0 0;
  height:75px;
  width:50%;
  //display:flex;
  //justify-content: center;
  //align-items: center;
  a{
    font-family:"AvenirNext-Bold";
    text-transform:uppercase;
    text-decoration:none;
  }
  a:visited{
    color:$cremaBlack;
  }
}
.previous{
  a{
    position: absolute;
    left:10%;
  }
  border-right:1px solid $cremaGrey;
}
.next{
  a{
    position: absolute;
    right:10%;
  }
}


//
//.Cremalab__BlogPost-VideoWrapper {
//  position: absolute;
//  padding-bottom: 56.25%; /* 16:9 */
//  padding-top: 25px;
//  top: 0;
//  left: 0;
//  height: 100%;
//  width: 100%;
//}
//.Cremalab__BlogPost-VideoWrapper iframe {
//  position: relative;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//}


.Cremalab__BlogPost-VideoWrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.Cremalab__BlogPost-VideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.Cremalab__BlogPost--videoIndicator{
  position: absolute;
  margin:0 auto;
  height:80px;
  width:80px;
  top:140px;
  left:43%;
  cursor: pointer;
}

.Cremalab__BlogPost-VideoOverlay{
  position: absolute;
  top:0;
  left: 0px;
  width: 100vw;
  height:0;
  overflow:hidden;
}