.Cremalab__CareersPageWrapper{
  position: relative;
}

h1.Cremalab__CareersHeader{
  align-self:flex-start;
  width:100%;
}

.Cremalab__Careers--itemHeader{
  font-family:'AvenirNext-Bold';
  font-size:48px;
}


.Cremalab__CareersIntroContainer{
  max-width:940px;
  margin: 0 auto;
  padding-top:55px;
}

.Cremalab__CareersIntroFeatures{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  width:100%;
  margin: 55px auto;
}

.background-green{
  background-color:$cremaGreen;
}
.background-grey{
  background-color:$cremaSmoke;
}
.background-blue{
  background-color:$cremaBlue;
}

.Cremalab__CareersIntroFeatures--smallImage{

  height:210px;
}
.Cremalab__CareersIntroFeatures--wideImage{

  height:210px;
}

.Cremalab__CareersIntroFeatures--wideCopy{

  padding:30px;
  width:627px;
  height:210px;
}

.Cremalab__CareersIntroFeatures--smallCopy{
  padding:30px;
  height:210px;
  width:313px;
}
#Cremalab__Careers--secondaryImage{
  display:none;
}

.Cremalab__CareersIntroFeatures-text{
  color:$black;
  font-size:14px;
  font-weight:600;
  font-family:'MerriWeather-Regular';
}


.Cremalab__CareersIntroFeatures-Header--white{
  color:$cremaWhite;
  font-family:'AvenirNext-Bold';
  font-size:20px;
  text-transform:uppercase;
}
.Cremalab__CareersIntroFeatures-Header--blue{
  @extend .Cremalab__CareersIntroFeatures-Header--white;
  color:$cremaBlue;
}
.Cremalab__CareersIntroFeatures-Header--green{
  @extend .Cremalab__CareersIntroFeatures-Header--white;
  color:$cremaGreen;
}

.Cremalab__CareersListWrapper{
  background-color:$cremaGreen;
  height:100%;
  position: relative;
}

.Cremalab__CareersListContainer{
  padding-top:55px;
  max-width:940px;
  margin:0 auto;
}

.Cremalab__CareersListHeader{
  margin:0 0 50px 0;
  color:$cremaWhite;
  display:block;
  text-align:right;
}

.Cremalab__Careers-listItem{
  position: relative;
  background-color:$cremaWhite;
  height:280px;
  margin-bottom:50px;
  padding:25px;

  p{
    font-family:'MerriWeather-Regular';
    font-size:16px;
    color:$cremaGrey;
    line-height:1.7;
  }
}
.Cremalab__Careers-listItem:last-child{
  margin-bottom:150px;
}

.Cremalab__Careers--link{
  position: absolute;
  bottom:25px;
  right:35px;
  font-family:'AvenirNext-Medium';
  font-size:18px;
  color:$cremaBlack;
}

@media screen and (max-width:939px){
  .flex-1{
    order:1;
  }
  .flex-2{
    order:2;
    width:313px;
  }
  .flex-3{
    order:3;
  }
  .flex-4{
    order:4;
    width:313px;
  }
  .flex-5{
    order:5;
  }
  .flex-6{
    order:6;
  }
  .flex-7{
    order:8;
  }
  .flex-8{
    order:7;
  }
  .flex-9{
    order:9;
  }
  .flex-10{
    order:10;
  }

  .Cremalab__Careers-listItem{
    margin:0 15px 50px 15px;
  }

  h1.Cremalab__CareersHeader{
    width:626px;
  }

  h1.Cremalab__CareersListHeader{
    font-size:48px;
    text-align:center;
  }
}

@media screen and (max-width:624px){

  .flex-1{
    order:1;
  }
  .flex-2{
    order:2;
  }
  .flex-3{
    order:4;
  }
  .flex-4{
    order:3;
  }
  .flex-5{
    order:5;
  }
  .flex-6{
    order:6;
  }
  .flex-7{
    display:none;
  }
  .flex-8{
    display:none;
  }
  .flex-9{
    display:none;
  }
  .flex-10{
    display:none;
  }

  .Cremalab__Careers--itemHeader{
    text-align: center;
  }
  .Cremalab__Careers-listItem{
    p{display:none;}

  }
  .Cremalab__Careers--link{
    position: absolute;
    bottom: 40%;
    left: 10%;
    display: block;
    text-align: center;
  }

}