.Cremalab__caseStudyTitle{
  @extend .Cremalab__caseStudyHeader;

  text-align:center;
}
.Cremalab__CaseStudySlider{
  margin-bottom:50px;
}

.Cremalab__CaseStudyContentContainer{
}

.Cremalab__caseStudySubHeader{
  font-family:'MerriWeather-Regular';
  font-size:22px;
  color:$cremaGrey;
  text-align:center;
}

.Cremalab__caseStudyhighlightLine{
  background-color:$cremaBlue;
  display: block;
  margin:0 auto;
  height:4px;
  width:211px;
  margin-top:45px;
  margin-bottom:45px;
}

.Cremalab__caseStudyTextContainer{
  display:block;
  margin:50px auto 50px auto;
  max-width:940px;
  h1, h2, h3, h4, h5, h6{
    font-size:48px;
    margin-top:25px;
  }
  p{
    font-size:18px;
    line-height:1.9;
    font-family:'MerriWeather-Regular';
    color:$cremaGrey;
  }
}

.Cremalab__caseStudyLink{
  font-family:"AvenirNext-Medium";
  font-size:18px;

  color:$cremaBlack;
}
.Cremalab__caseStudyLink:visited{
  color:$cremaBlack
}

.soliloquy-pager{
  display:none;
}

.soliloquy-prev{

  //top:85% !important;
  //left:44% !important;
  height:5.5vw !important;
  width:5.5vw !important;
  background-color: transparent !important;

}
.soliloquy-prev:after{
  color:$cremaWhite !important;

  font-size:32px;
  display:block;
  height:50px;
  width:50px;
  text-align:center;
  //content:"\2039";
}

.soliloquy-next{

  //top:85%!important;
  //right:44% !important;
  height:5.5vw !important;
  width:5.5vw !important;
  background-color: transparent !important;
}
.soliloquy-next:after{
  color:$cremaWhite !important;
  //content:'>';
}

.Cremalab__caseStudy--fullWidthImage{
  width:100%;
}

.Cremalab__contentNavPrevious{
  height:100px;
  width:50%;
  min-width:50%;
  display:inline-block;
  border-right:2px solid $cremaGrey;
  a{
    font-family:"AvenirNext-Bold";
    font-size:16px;
    position: absolute;
    left:45px;
    top:40px;
    text-decoration:none;
    height:100px;
    &:before{
      font-size:16px;
      color:$cremaWhite !important;
      content:"\2039";
    }
    &:visited{
      color:$cremaWhite !important;
    }
  }
}

.Cremalab__contentNavNext{
  width:50%;
  min-width:50%;
  border-left:2px solid $cremaGrey;
  text-decoration:none;
  display:inline-block;
  height:100px;
  a{
    font-family:"AvenirNext-Bold";
    font-size:16px;
    position: absolute;
    right:45px;
    top:40px;
    text-decoration:none;
    height:100px;
    &:after{
      color:$cremaWhite !important;
      content:"\203A";
    }
    &:visited{
      color:$cremaWhite !important;
    }
  }
}
.Cremalab__ContentNavContainer{
  position: relative;
  width:100%;
  border:solid 2px $cremaGrey;
  height:100px;
}
