.Cremalab__ContactPageWrapper{
  position: relative;
  text-align:center;
  color:$cremaBlack;
  background-color:$cremaSmoke;
  height:100%;
  p, a{
    font-family:"MerriWeather-Regular"
  }
}
.contact-icons{
  color:$cremaBlack;
  font-size:33px;
  &:hover{
    color:$cremaPurple;

  }
}

.Cremalab__ContactPage-contactlist{
  list-style-type:none;
  padding:0;
  display: block;
  
  li{
    display:inline;
    padding:15px;
  }
}

.Cremalab__ContactPage--spacer{
  margin: 50px 0 50px 0;
}
.Cremalab__ContactPage--underline{
  border-bottom:2px solid black;
  a{
    text-decoration:none;
    color: $cremaBlack;
  }
  &:hover{
    border-bottom:2px solid $cremaPurple;
  }
}

.Cremalab__ContactPage-FormWrapper{
  display:block;
  margin:0 auto;
  max-width:1100px;
}

.Cremalab__ContactPage--socialLink{
  text-decoration:none;
}

.Cremalab__ContactPage--email{
  color:$cremaBlack;
  font-size:18px;
  font-family:"MerriWeather-Bold";
  text-decoration:none;
  &:visited{
    color:$cremaBlack;
  }
}
.Cremalab__ContactPage--phone{


}
.Cremalab__ContactPage--address{

  margin:0;
}

@media screen and (max-width:414px){
  .Cremalab__ContactPageWrapper{
    padding-top:25px;
  }
  .Cremalab__pageHeaderOne{
    font-size:32px;
  }
  .Cremalab__ContactPage--email, .Cremalab__ContactPage--phone, .Cremalab__ContactPage--address, .Cremalab__linkCopy{
    font-size:16px;
  }
  .contact-icons{
    font-size:24px;
  }
  .Cremalab__ContactPageWrapper{
    height:auto;
  }
  .Cremalab__ContactPage-contactlist{
      padding-bottom:25px;
      margin-bottom:0;
    li{
      display:inline;
      padding:5px;
    }
  }

}
