.Cremalab__ContactPageWrapper{
  position: relative;
  text-align:center;
  color:$cremaWhite;
  background-color:$cremaRed;
  height:100%;
}
.contact-icons{
  color:$cremaWhite;
  font-size:33px;
}

.Cremalab__ContactPage-contactlist{
  list-style-type:none;
  padding:0;
  display: block;
  margin-bottom:150px;
  li{
    display:inline;
    padding-right:30px;
  }
}

.Cremalab__ContactPage--spacer{
  margin: 50px 0 50px 0;
}