@mixin aspect-ratio($width, $height) {
  display:block;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  height:0;
  padding-bottom: ($height / $width) * 100%;
  video {
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.Cremalab__Homepage--pageWrapper{
  display:block;
  position: relative;
}

.Cremalab__Homepage-MobileLogo{
  display:block;
  margin:0 auto;
}

.Cremalab__Homepage--videoWrapper{
  display:block;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  height:0;
  padding-bottom: 56.25%;
  video {
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}





.Cremalab__Homepage-Approach{
  position:relative;
  height:275px;
  margin-top:-185px;
}

.Cremalab__Homepage-Approach--header{
  font-size:64px;
  text-align:center;
  margin:0 0 0 0;
}

.Cremalab__Homepage-Approach--subheader{
  font-family:'MerriWeather-Regular';
  font-size:22px;
  color:$cremaGrey;
  text-align:center;
  margin:0 0 0 0;
}

.Cremalab__Homepage-Approach--byline{
  font-family:"AvenirNext-Bold";
  position:relative;
  font-size:18px;
  display:block;
  text-decoration: none;
  text-align:center;
  font-weight:900;
  text-align:center;
  margin:25px auto 0 auto;
  color:$cremaBlack;
}

//nested so that the entire element triggers the hover state
.Cremalab__Homepage-Approach--byline:hover{
  > .Cremalab__Homepage-Approach--underline{
    border-bottom:2px solid $cremaPurple;
  }
}

.Cremalab__Homepage-Approach--underline{
  border-bottom:2px solid $cremaBlack;
}

.Cremalab__HomepageCaseStudyList{
  width:100%;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
}
.Cremalab__Work-EntryWrapper--Homepage{
  width:50%;
  position: relative;
}

.Cremalab__Work-ImageContainer--Homepage{

  height:400px;
}

.Cremalab__Work-TitleContainer--Homepage{
  display:none;
  position: absolute;
  top:0;
  left:0;
  padding-left:50px;
  padding-right:50px;
  width:100%;
  height:400px;
  background-color:$cremaPurple;
  z-index:9999;
  color:$cremaWhite;
  p{
    font-family:'MerriWeather-Regular';
    line-height: 1.9;
    font-size:18px;
    width:100%;
    margin:0 0 5px 0;
    color:$cremaWhite;
  }
}

.Cremalab__Work-TitleContainer--HomepageFlex{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:flex-start;
}

.Cremalab__Work-TitleContainer--header--Homepage{
  font-family: "AvenirNext-Bold";
  color: $cremaWhite;
  text-align: left;
  font-size: 48px;
  text-decoration: none;
  margin:0 0 15px 0;


  a {
    color: $cremaWhite;
    text-decoration: none;
    margin:0;
    &:visited {
      color: $cremaWhite;
    }
  }
}


.Cremalab___Work-TitleContainer--caseLink--Homepage{
  display:block;
  font-family:"AvenirNext-Regular";
  font-weight:900;
  margin-top:15px;
  color:$cremaWhite;
  text-decoration: none;
  &:hover{
    color: $cremaBlack;
  }
}

.Cremalab__Work--underline--Homepage{
  padding-bottom:5px;
  border-bottom:2px solid $cremaWhite;
  &:hover{
    border-bottom:2px solid $cremaBlack;
  }
}

.Cremalab__WorkItem--homepage{
  position: relative;
}


@media screen and (max-width: 1200px){
  .Cremalab__Homepage--videoWrapper{
    video{
      top: -85px;
    }
  }
  .Cremalab__Homepage-Approach{
      margin-top:0;
  }
}

@media screen and (min-width: 1201px){
  .Cremalab__Homepage--videoWrapper{
    video{
      top:-200px;
    }
  }
  .Cremalab__Homepage-Approach{
      margin-top:-165px;
  }
}


@media screen and (max-width: 769px){

  .Cremalab__HomepageCaseStudyList{
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
  }
  .Cremalab__Work-EntryWrapper--Homepage{
    width:100%;
    position: relative;
  }
}
@media screen and (max-width: 414px){
  .Cremalab__Homepage-MobileLogo{
    display:block;
    margin:50px auto;
  }
  .Cremalab__Homepage-Approach{
    height:auto;
    margin:35px auto 35px auto;
  }
  .Cremalab__Homepage-Approach--header{
    font-size:48px;
  }
  .Cremalab__Homepage-Approach--subheader{
    font-size:22px;
  }
}
