.Cremalab__footerWrapper{
  background-color:$cremaBlack;
  height:300px;
  overflow:hidden;
  position: relative;
  bottom:0;
  left:0;
  width:100vw;
}


.Cremalab__footer--header{
  margin:0;


  font-size:64px;
  color:$cremaWhite;
  text-align:center;
}

.Cremalab__footer--text{
  margin:0;
  font-size:18px;
  color:$cremaWhite;
  text-align:center;
}

.Cremalab__footerTitle{
  @extend .Cremalab__pageHeaderTwo;
  color:$cremaWhite;
  text-align:center;
  position: relative;
}
.Cremalab__footerWelcomeContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap:wrap;
  height:100%;
}
.Cremalab__footerWelcomeContainerFlex{
  width:100%;
}

.Cremalab__footerFormContainer{
  position: absolute;
  bottom:0;
  height:0;
  width:100%;
  overflow: hidden;
  background-color:$cremaWhite;
}

// #ninja_forms_form_5_cont{
//   display:block;
//   margin:0 auto;
//   width:65%;
// }

.ninja-forms-cont{
  display:block;
  margin:0 auto;
  width:65%;
}

label{
  font-size:16px;
  text-align:center;
  font-family:'MerriWeather-Regular';
}

textarea{

}

.ninja-forms-cont{
  padding-top:50px;
  height:95%;
}

input.ninja-forms-field{
  color: $cremaBlue;
  font-family:'MerriWeather-Regular';
  text-shadow:0 0 0 #000 !important;
  -webkit-text-fill-color: transparent !important;
  font-size:22px;
  width:65% !important;
  height:50px !important;
  display:block;
  margin:0 auto;
  border:none;
  border-bottom: 2px solid $cremaPurple;
  text-align: center;

}

input.ninja-forms-field:focus{
  outline:none;
  color: $cremaBlue;
  font-family:'MerriWeather-Regular';
  text-shadow:0 0 0 #000 !important;
  -webkit-text-fill-color: transparent !important;
  border-bottom: 2px solid $cremaPurple;
}
//
// #ninja_forms_form_5_progress_bar{
//   position: absolute;
//   height:10px;
//   border-radius:0;
//   width:100%;
//   bottom:50px;
// }

.meter.nostripes.progressbar{
  position: absolute;
  height:10px;
  border-radius:0;
  width:100%;
  bottom:50px;
}

input.ninja-forms-mp-next{
  position:absolute;
  font-size:16px !important;
  right:0;
  bottom:75px;
  width:25px !important;
  height:25px !important;
  color:$cremaWhite;
  background-color: $cremaPurple;
  border:none;
}

input.ninja-forms-mp-prev{
  position:absolute;
  right:30px;
  bottom:75px;
  width:25px !important;
  height:25px !important;
  color: $cremaWhite;
  background-color: $cremaPurple;
  border:none;
}

input[type=submit].ninja-forms-field{
  font-family:'MerriWeather-Regular';
  position:absolute;
  padding-top:3px;
  font-size:16px !important;
  right:0;
  bottom:75px;
  width:25px !important;
  height:25px !important;
  color:$cremaWhite !important;
  text-shadow: 0 0 0 #fff !important;
  background-color: $cremaPurple;
  border:none;
}

.Cremalab__footer--thankYouMessage{
  font-family:'MerriWeather-Regular';
  text-align:center;
  display:block;
  margin:0 auto;
}


.meter >span {
  background-color:$cremaPurple !important;
  border-radius:0 !important;
 }


.Cremalab__footerUnderline{
  border-bottom:1px solid $cremaWhite;
  cursor: pointer;
}


.Cremalab__footer--close{
  font-family:"AvenirNext-Regular";
  font-size:26px;
  cursor:pointer;
}


@media screen and (max-width:414px){
  .Cremalab__footer--header{
    font-size:48px;
  }

  .Cremalab__footer--text{
    font-size:18px;
  }
}

@media screen and (max-width:375px){
  .Cremalab__footer--header{
    font-size:32px;
  }

  .Cremalab__footer--text{
    font-size:16px;
  }
}

@media screen and (max-width:320px){
  .Cremalab__footer--header{
    font-size:32px;
  }

  .Cremalab__footer--text{
    font-size:14px;
  }
}
