.Cremalab__Navbar{
  font-family: AvenirNext-Bold;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  position:relative;
  top: 0px;
  left:0px;
  height:85px;
  z-index:999;
}

.Cremalab__Navbar-logoImageContainer{
  display:inline;
  height:48px;
  width:65px;
  margin-left:45px;
  position: relative;
  width:120px;
  color:#FFFFFF;
}

.Cremalab__Navbar-logoImage{
  display:inline;
  height: 32px;
  position: absolute;
  right: 60px;
  text-align: center;
  top: 23px;
  vertical-align: middle;
}







.Cremalab__Nav-navItems{

  display:inline;
  font-size:16px;
  height:65px;
  text-align: right;
  width:100%;
  li{
    padding:0 48px 0 0;
  }
  li:last-child{
    padding:0 55px 0 0;
  }
  .menu-item{
    display: inline;
    a{
      text-decoration: none;
      color:$cremaBlack;
    }
  }
}




.Cremalab__Nav-navItems--frontPage{
  display:inline;
  font-size:16px;
  height:65px;
  text-align: right;
  width:100%;
  li{
    padding:0 48px 0 0;
  }
  li:last-child{
    padding:0 55px 0 0;
  }
  ul.menu{
    .menu-item{
      display: inline;
        a{
          text-decoration: none;
          color:$cremaWhite;
        }
    }
  }
}



.page_item{
  display:inline;
  list-style-type: none;
    a{
      text-decoration: none;
      font-size: 14px;
      font-weight:600;
    }
}



.Cremalab__Navbar-BlackHeader{
  .current-menu-item, .current_page_item {
    a {
      border-bottom: 2px solid $cremaBlack;
      font-size:16px;
    }
  }
}



.Cremalab__Navbar--careers{
  @extend .Cremalab__Navbar;
  background-color: $cremaGreen;
  > .current-menu-item, .current_page_item {
    a {
      border-bottom: 2px solid $cremaWhite;
    }
  }
}

.Cremalab__Navbar--contact{
  @extend .Cremalab__Navbar;
  background-color: $cremaRed;

  > .current-menu-item, .current_page_item {
    a {
      border-bottom: 2px solid $cremaWhite;
    }
  }
}


.Cremalab__Navbar--blog{
  @extend .Cremalab__Navbar;
  background-color: $cremaYellow;

  > .current-menu-item, .current_page_item {
    a {
      border-bottom: 2px solid $cremaBlack;
    }
  }
}

//really awful hack to get around wp not assigning active class to the work page :( Sorry!

.Cremalab__Navbar--work{
  @extend .Cremalab__Navbar;
  background-color: $cremaWhite;

  > .Cremalab__Nav-navItems > .menu-navbar-container > ul > li:first-child{
    a {
      border-bottom: 2px solid $cremaBlack;
    }
  }
}



@media screen and (max-width:814px){
  .Cremalab__Nav-navItems{
    font-size:15px;
    li{
      padding-right:20px;
    }
  }
}

