.Cremalab__footerWrapper{
  background-color:$cremaBlack;
  min-height:250px;
  position: relative;
  bottom:0px;
  width:100vw;
}


.Cremalab__footer--header{
  margin:0;
  padding-top:50px;
  font-size:64px;
  color:$cremaWhite;
  text-align:center;
}

.Cremalab__footer--text{
  margin:0;
  font-size:18px;
  color:$cremaWhite;
  text-align:center;
}

.Cremalab__footerTitle{
  @extend .Cremalab__pageHeaderTwo;
  color:$cremaWhite;
  text-align:center;
  position: relative;
}

.Cremalab__footerUpperContainer{
  padding-top:61px;
}
.Cremalab__footerBreakLine{
  border-bottom:1px solid $cremaWhite;
}





