.Cremalab__Navbar{
  font-family: AvenirNext-Bold;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:relative;

  height:85px;
  width:100%;
  z-index:999;
}


.Cremalab__Navbar-brandTitle--Container{
  text-decoration:none;
  position: relative;
  margin-left:3rem;
  height:100%;
  width:150px;
  display:inline;
  &:visited{
    color:$cremaWhite;
  }
}


.Cremalab__Navbar-brandTitle{
  color: $cremaBlack;
}

.Cremalab__Navbar-brandTitle--homepage{
  color:$cremaWhite;
}

.Cremalab__Navbar-brandImage{
  width:150px;
  position: absolute;

  left:0;
}

.Cremalab__Navbar-brandImage--white{
  @extend .Cremalab__Navbar-brandImage;
  top:30px;

}

.Cremalab__Nav-navItems{

  display:inline;
  font-size:14px;
  height:65px;
  text-align: right;
  width:100%;
  li{
    padding:0 48px 0 0;
  }
  li:last-child{
    padding:0 55px 0 0;
  }
  .menu-item{
    display: inline;
    a{
      text-decoration: none;
      color:$cremaBlack;
      &:hover{
        color:$cremaPurple;
      }
    }
  }
}




.Cremalab__Nav-navItems--frontPage{
  display:inline;
  font-size:14px;
  height:65px;
  text-align: right;
  width:100%;
  li{
    padding:0 48px 0 0;
  }
  li:last-child{
    padding:0 55px 0 0;
  }
  ul.menu{
    .menu-item{
      display: inline;
        a{
          text-decoration: none;
          color:$cremaWhite;
        }
    }
  }
}



.page_item{
  display:inline;
  list-style-type: none;
    a{
      text-decoration: none;
      font-size: 14px;
      font-weight:600;
    }
}



.Cremalab__Navbar-BlackHeader{
  height:85px;
  background-color:$cremaSmoke;
  .current-menu-item, .current_page_item {
    a {
      border-bottom: 2px solid $cremaPurple;
      font-size:16px;
      color: $cremaPurple;
    }
  }
}

.Cremalab__Navbar--about{
  height:85px;
  background-color:$cremaWhite;
  .current-menu-item, .current_page_item {
    a {
      border-bottom: 2px solid $cremaPurple;
      font-size:16px;
      color: $cremaPurple;
    }
  }
}


.Cremalab__Navbar--contact{
  @extend .Cremalab__Navbar-BlackHeader;

}

#menu-navbar-1 {
  li.current-menu-item{
    a {
      border-bottom: 2px solid $cremaPurple;
      color: $cremaPurple;
    }
  }
}


//really awful hack to get around wp not assigning active classes to pages  :( Sorry!

.Cremalab__Navbar--work{
  @extend .Cremalab__Navbar-BlackHeader;
  background-color: $cremaWhite;

    > .Cremalab__Navbar > .Cremalab__Nav-navItems > .menu-navbar-container > ul#menu-navbar > li:first-child{

    a {
      border-bottom: 2px solid $cremaPurple;
      font-size:16px;
      color: $cremaPurple;
    }
  }
}

.Cremalab__Navbar--work{
  @extend .Cremalab__Navbar-BlackHeader;
  background-color: $cremaWhite;

  > .Cremalab__Navbar > .Cremalab__Navbar--mobile > .menu-navbar-container > ul#menu-navbar-1 > li:first-child{

    a {
      border-bottom: 2px solid $cremaPurple;
      font-size:10vw;
      color: $cremaPurple;
    }
  }
}



.c-hamburger {
  display: none;
  position: absolute;
  top:0;
  right:0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span.Cremalab__Navbar--hamburger {
  display: block;
  position: absolute;
  top: 24px;
  left: 14px;
  right: 14px;
  height: 3px;
  width:25px;
  background: white;
}

.c-hamburger span.Cremalab__Navbar--hamburger::before,
.c-hamburger span.Cremalab__Navbar--hamburger::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}

.c-hamburger span.Cremalab__Navbar--hamburger::before {
  top: -10px;
}

.c-hamburger span.Cremalab__Navbar--hamburger::after {
  bottom: -10px;
}

.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span.Cremalab__Navbar--hamburger {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span.Cremalab__Navbar--hamburger::before,
.c-hamburger--htx span.Cremalab__Navbar--hamburger::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span.Cremalab__Navbar--hamburger::before {
  transition-property: top, transform;
}

.c-hamburger--htx span.Cremalab__Navbar--hamburger::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: transparent;
  .Cremalab__NavbarMoreLabel--black{

  }
}

.c-hamburger--htx.is-active span.Cremalab__Navbar--hamburger {
  background: none;
}

.c-hamburger--htx.is-active span.Cremalab__Navbar--hamburger::before {
  top: 0;
  transform: rotate(45deg);
  background-color:$cremaWhite;
}

.c-hamburger--htx.is-active span.Cremalab__Navbar--hamburger::after {
  bottom: 0;
  transform: rotate(-45deg);
  background-color:$cremaWhite;
}

.c-hamburger--htx.is-active span.Cremalab__Navbar--hamburger::before,
.c-hamburger--htx.is-active span.Cremalab__Navbar--hamburger::after {
  transition-delay: 0s, 0.3s;
}

.Cremalab__NavbarMoreLabel{
  display:none;
  font-size:11px;
  position:absolute;
  right:9px;
  top:37px;
  color:$cremaWhite;
}


.c-hamburger--black {
  display: none;
  position: absolute;
  top:0;
  right:0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger--black:focus {
  outline: none;
}

.c-hamburger--black span.Cremalab__Navbar--hamburger{
  display: block;
  position: absolute;
  top: 24px;
  left: 14px;
  right: 14px;
  height: 3px;
  width:25px;
  background: $cremaBlack;
}

.c-hamburger--black span.Cremalab__Navbar--hamburger::before,
.c-hamburger--black span.Cremalab__Navbar--hamburger::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $cremaBlack;
  content: "";
}

.c-hamburger--black span.Cremalab__Navbar--hamburger::before {
  top: -10px;
}

.c-hamburger--black span.Cremalab__Navbar--hamburger::after {
  bottom: -10px;
}

.Cremalab__NavbarMoreLabel--black{
  display:none;
  font-size:11px;
  position:absolute;
  right:9px;
  top:37px;
  color: $cremaBlack;
}

.Cremalab__Navbar--mobile{
  display:none;
}

@media screen and (max-width:872px){
  .Cremalab__Navbar-logoImage{
    height:25px;
    top:12px;
    left:0;
  }

  .Cremalab__Navbar{
    height:50px;
  }
  .Cremalab__Nav-navItems--frontPage,.Cremalab__Nav-navItems{
    display:none;
  }

  .c-hamburger{
    display:block;
    z-index:9999;
  }
  .c-hamburger--black{
    display:block;
    z-index:9999;
  }

  .Cremalab__Navbar--mobile{
    display:none;
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:rgba(0, 0, 0, 0.8)
  }

  div.menu-navbar-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
  }
  .Cremalab__NavbarMoreLabel{
    display:block;
  }

  .Cremalab__NavbarMoreLabel--black{
    display:block;
  }

  #menu-navbar-1{
    text-align:center;
    display:block;
    margin:0 auto;
    li{
      a{
        font-size:10vw;
        color:$cremaWhite;
        text-decoration:none;
      }
      a:visited{
        color:$cremaWhite;
      }
    }
  }




}