.Cremalab__teamPageWrapper{
  position: relative;
}

.Cremalab__teamPageWrapper--pageHeader{
  color:$cremaWhite;
  display:block;
  font-size:64px;
  text-align: center;
}

.Cremalab__teamPage--joinHeader{
  text-align: center;
  color:$cremaWhite;
}

.Cremalab__teamPage--joinAction{
  display:block;
  color:$cremaWhite;
  text-align:center;
}

.Cremalab__teamContainer{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  max-width:1200px;
  margin:38px auto 150px auto;
}

.Cremalab__teamMemberWrapper{
  width:299px;
  height:450px;
  position:relative;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);

  margin:0 0 21px 21px;
}

.Cremalab__teamMemberPhoto{
  height: 371px;
}

.Cremalab__teamMemberName{
  font-size:18px;
  padding: 5px 0 0 15px;
  margin: 0;
}
.Cremalab__teamMemberTitle{
  font-size:14px;
  padding: 0 0 0 15px;
  margin:0;
}

.Cremalab__workHardPlayHard--header{
  color: $cremaBlack;
  display:block;
  font-size:64px;
  text-align:center;
}

.Cremalab__workHardPlayHardWrapper{
  position:relative;
}

// .Cremalab__workHardPlayHardInnerWrapper{
//     position:relative;
//     top:50px;
//     z-index:1;
//     max-height:1350px;


//     display: -ms-flexbox;
//     display: -webkit-flex;
//     display: flex;
//     -webkit-flex-direction: column;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     -webkit-flex-wrap: wrap;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     -webkit-justify-content: flex-start;
//     -ms-flex-pack: start;
//     justify-content: flex-start;
//     -webkit-align-content: center;
//     -ms-flex-line-pack: center;
//     align-content: center;
//     -webkit-align-items: flex-start;
//     -ms-flex-align: start;
//     align-items: flex-start;

//     margin:0 auto;
// }


.Cremalab__workHardPlayHardInnerWrapper{
    position:relative;
    top:50px;
    z-index:1;

    width:100%;
    width:939px;
    margin:0 auto;
    -moz-column-count:3;
    -moz-column-width: 299px;
    -webkit-column-count:3;
    -webkit-column-width: 299px;
    column-count: 3;
    column-width: 299px;
}

.Cremalab__workHardPlayHardImage{
  margin: 0 21px 21px 0px;
  width:299px;
}

.Cremalab__lowerWhiteBackground{
  background-color:white;
}

.Cremalab__BlueBackground{
  background-color:$cremaBlue;

  width:100%;
  position:absolute;


  &--upper{
    @extend .Cremalab__BlueBackground;
    top:0px;
    height:371px;
  }

  &--lower{
    @extend .Cremalab__BlueBackground;
    padding-top:95px;
    position:relative;
    bottom:0px;
    height:273px;
  }
}


.Cremalab__teamMemberInfo{
  display:none;
  padding:20px;
  background-color:$cremaWhite;
  width:100%;
  height:82.5%;
  position:absolute;
  top:0px;
}

.Cremalab__teamAnswersCopy{
  display:inline;
}

.Cremalab__teamMemberInfo:after{
    content:"";
    height:1px;
    width:90%;
    position: absolute;
    border-bottom:1px solid $cremaLightGrey;
    bottom:5px;
    left:5%;

  }

.Cremalab__teamMemberWrapper:hover{
  .Cremalab__teamMemberInfo{
    display:block;
  }

}


@media screen and (max-width:960px){

  .Cremalab__workHardPlayHardInnerWrapper{
    position:relative;
    top:50px;
    z-index:1;
    width:100%;
    max-width:620px;
    margin:0 auto;
    -moz-column-count:2;
    -moz-column-width: 299px;
    -webkit-column-count:2;
    -webkit-column-width: 299px;
    column-count: 2;
    column-width: 299px;
  }

}

@media screen and (max-width:640px){
  .Cremalab__workHardPlayHardInnerWrapper{
    position:relative;
    top:50px;
    z-index:1;
    width:100%;
    max-width:320px;
    margin:0 auto;
    -moz-column-count:1;
    -moz-column-width: 299px;
    -webkit-column-count:1;
    -webkit-column-width: 299px;
    column-count: 1;
    column-width: 299px;
  }
}
