.Cremalab__teamPageWrapper{
  position: relative;
}

.Cremalab__teamPageWrapper--pageHeader{
  color:$cremaWhite;
  display:block;
  font-size:64px;
  text-align: center;
}

.Cremalab__teamPage--joinHeader{
  color:$cremaWhite;
  text-align: center;
}

.Cremalab__teamPage--joinAction{
  color:$cremaWhite;
  display:block;
  text-align:center;
}

.Cremalab__teamContainer{
  display: flex;

  flex-direction: row;
  flex-wrap:wrap;

  justify-content: flex-start;

  margin:38px auto;
  max-width:960px;

}

.Cremalab__teamMemberWrapper{
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  height:450px;
  margin:0 0 21px 21px;
  position:relative;
  width:299px;
  z-index:4;
}

.Cremalab__teamMemberPhoto{
  height: 371px;
  z-index:1;
}

.Cremalab__teamMemberName{
  font-size:18px;
  padding: 5px 0 0 15px;
  margin: 0;

}
.Cremalab__teamMemberTitle{
  font-size:14px;
  margin:0;
  padding: 0 0 0 15px;
}

.Cremalab__teamMemberNameTitle{
  background-color:$cremaWhite;
  bottom: 0;
  height: 80px;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.Cremalab__teamMemberInfo{
  background-color:$cremaWhite;
  bottom:79px;
  height:0;
  overflow:hidden;
  padding-left:20px;
  padding-right:20px;
  position:absolute;
  z-index:2;
}

.Cremalab__teamAnswersCopy{
  display:inline;
}

.Cremalab__teamMemberInfo--greyHightlightBar{
  display:none;
  height:5px;
  width:100%;
}

.Cremalab__teamMemberInfo--greyHightlightBar:after{
    border-bottom:1px solid $cremaFooterSpacerLine;
    bottom:5px;
    content:"";
    height:1px;
    left:5%;
    position: absolute;
    width:90%;
}

.Cremalab__workHardPlayHard--header{
  color: $cremaBlack;
  display:block;
  font-size:64px;
  text-align:center;
}

.Cremalab__workHardPlayHardWrapper{
  position:relative;
  top:50px;
}


.Cremalab__workHardPlayHardInnerWrapper{
    -moz-column-count:3;
    -moz-column-width: 299px;
    -webkit-column-count:3;
    -webkit-column-width: 299px;
    column-count: 3;
    column-width: 299px;
    margin:0 auto;
    position:relative;
    top:20px;
    width:100%;
    width:939px;
    z-index:1;
}

.Cremalab__workHardPlayHardImage{
  margin: 0 21px 21px 0px;
  width:299px;
}

.Cremalab__lowerWhiteBackground{
  background-color:white;
}

.Cremalab__BlueBackground{
  background-color:$cremaBlue;
  position:absolute;
  width:100%;
  &--upper{
    @extend .Cremalab__BlueBackground;
    height:371px;
    top:0px;
  }
  &--lower{
    @extend .Cremalab__BlueBackground;
    bottom:0px;
    height:273px;
    padding-top:95px;
    position:relative;
  }
}



@media screen and (max-width:960px){

  .Cremalab__workHardPlayHardInnerWrapper{
    -moz-column-count:2;
    -moz-column-width: 299px;
    -webkit-column-count:2;
    -webkit-column-width: 299px;
    column-count: 2;
    column-width: 299px;
    margin:0 auto;
    max-width:620px;
    position:relative;
    top:50px;
    width:100%;
    z-index:1;
  }

  .Cremalab__teamContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin:38px auto 150px auto;
    max-width:640px;
  }

}

@media screen and (max-width:640px){
  .Cremalab__workHardPlayHardInnerWrapper{
    -moz-column-count:1;
    -moz-column-width: 299px;
    -webkit-column-count:1;
    -webkit-column-width: 299px;
    column-count: 1;
    column-width: 299px;
    margin:0 auto;
    max-width:320px;
    position:relative;
    top:50px;
    width:100%;
    z-index:1;
  }

  .Cremalab__teamContainer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin:38px auto 150px auto;
    max-width:320px;
  }
}
