

h1, h2, h3, h4, h5, h6, {
  font-family: "AvenirNext-Bold";
}

p{
  font-family:'AvenirNext-Regular';
}

.Cremalab__caseStudyHeader{
  font-size:100px;
}

.Cremalab__caseStudySubHeader{
  font-family:'MerriWeather-Regular';
  font-size:22px;
}

.Cremalab__caseStudyCopy{
  font-family:'MerriWeather-Regular';
  font-size:18px;
}

.Cremalab__capabilitiesCopy{
  font-family:'MerriWeather-Regular';
  font-size:16px;
}

.Cremalab__pageHeaderOne{

  font-size:64px;
  margin:0;
  padding:0;
}

.Cremalab__pageHeaderTwo{
  font-size:48px;
}

.Cremalab__blogHeader{
  font-size:48px;
  text-transform: uppercase;
}

.Cremalab__footerHeader{
  font-size:20px;
  color:$cremaWhite;
}

.Cremalab__cardHeader{
  font-size:20px;
}

.Cremalab__navigationHeader{
  font-size:16px;
}

.Cremalab__teamQuestionsCopy{
  font-size:12px;
  text-transform: uppercase;
  font-family:"AvenirNext-Bold";
  margin-top:10px!important;
}

.Cremalab__teamAnswersCopy{
  color:grey;
  font-family:'MerriWeather-Regular';
  font-size:12px;
  text-transform:none;
}

.Cremalab__linkCopy{
  font-size:18px;
  font-family:"AvenirNext-Medium";
  padding:0;
  margin:0;
}

.Cremalab__tagCopy{
  font-size:12px;
  font-family:"AvenirNext-Medium";
}

.Cremalab__blogSubHeader{
  font-size:18px;
  font-family:'AvenirNext-Regular';
}

.Cremalab__joinUsCopy{
  font-size:15px;
  font-family:'AvenirNext-Regular';
}

.Cremalab__footerCopy{
  color:$cremaWhite;
  font-size:14px;
  font-family:'AvenirNext-Regular';
}

.Cremalab__cardCopy{
  font-size:14px;
  font-family:'AvenirNext-Regular';
  text-transform: uppercase;
}

.Cremalab__legalCopy{
  font-size:12px;
  font-family:'AvenirNext-Regular';
}






