.Cremalab__Work-EntryWrapper{
  position: relative;
  display:block;
  margin:0 auto 15px auto;
  width:98%;

}

.Cremalab__WorkHeader{
  @extend .Cremalab__pageHeaderOne;
  text-align:center;
  line-height:1;
  margin-bottom:38px;
}

.Cremalab__WorkSubheader{
  font-family:"AvenirNext-Bold";
  font-size:48px;
  text-align: center;
  position: absolute;
  bottom:0;
  margin:0;
  left:40px;
  a{
    color:$cremaWhite;
    text-decoration: none;
    &:visited{
      color: $cremaWhite;;
    }
  }
}

.Cremalab__Work-MainContainer{
  position: relative;
  height:465px;
  overflow:hidden;
}

.Cremalab__Work-HeaderImage{
  width:100%;
  height:100%;

}

.Cremalab__Work-HoverContainer{
  display:none;
  position: absolute;
  height:100%;
  width:100%;
  bottom:0px;
  background-color:rgba(245,245,245, 1);
  p{
    font-family:'MerriWeather-Regular';
    font-size:18px;
    width:100%;
    text-align:center;
    margin:0;
  }
}
.Cremalab__WorkSubheader--Hover{
  font-family:"AvenirNext-Bold";
  color:$cremaBlack;
  text-align:center;
  font-size:48px;
  display:block;
  margin:0 auto 0 auto;
  text-decoration:none;
  &:visited{
    color:$cremaBlack;
  }
}

.Cremalab__WorkSubheader--caseLink{
  display:block;
  font-family:"AvenirNext-Regular";
  font-weight:600;
  margin:0 auto;
  text-align:center;
  color:$cremaBlack;
  &:visited{
    color: $cremaBlack;
  }
}

.Cremalab__Work-HoverContainer--contentContainer{
  padding-top:13%;
}

