


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


.Cremalab__Work-EntryWrapper{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.Cremalab__Work-ImageContainer{

  position: relative;
  width:50%;
  height:400px;

}

.Cremalab__Work-TitleContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  padding-left:50px;
  padding-right:50px;
  width:50%;
  background-color:rgba(245,245,245, 1);
  p{
    font-family:'MerriWeather-Regular';
    line-height: 1.9;
    font-size:18px;
    width:100%;
    margin:0 0 5px 0;

  }
}

.Cremalab__WorkHeader{
  @extend .Cremalab__pageHeaderOne;
  text-align:center;
  line-height:1;
  margin-bottom:38px;

}



.Cremalab__Work-HeaderImage{
  height:100%;
  width:100%;
}

.Cremalab__Work-TitleContainer--header {
  font-family: "AvenirNext-Bold";
  color: $cremaBlack;
  text-align: left;
  font-size: 48px;
  text-decoration: none;
  margin:0 0 15px 0;
  &:hover{
    color: $cremaPurple;
  }

  a {
    color: $cremaBlack;
    text-decoration: none;
    margin:0;
    &:visited {
      color: $cremaBlack;
    }
    &:hover{
      color: $cremaPurple;
    }

  }
}

.Cremalab___Work-TitleContainer--caseLink{
  display:block;
  font-family:"AvenirNext-Regular";
  font-weight:900;
  margin-top:15px;
  color:$cremaBlack;
  text-decoration: none;
  &:hover{
    color: $cremaPurple;
  }

}


.Cremalab-Work-Clients{
  width:100%;
  height:300px;
  position: relative;
  display:flex;
  justify-content: center;
  flex-direction:row;
  flex-wrap:wrap;


}

.Cremalab__Work--clientLogo{
  position: relative;
  display:block;
  width:25%;
}

.Cremalab__Work--underline{
  padding-bottom:5px;
  border-bottom:2px solid $cremaBlack;
  &:hover{
    border-bottom:2px solid $cremaPurple;
  }
}

@media screen and (max-width: 769px){
  .Cremalab__Work-EntryWrapper{

    .Cremalab__Work-ImageContainer{
      width:100%;
      order:1
    }
    .Cremalab__Work-TitleContainer{
      width:100%;
      padding-bottom:50px;
      order:2;
    }

  }
}
