@font-face {
  font-family: 'cremalab-icons';
  src:url('../fonts/cremalab-icons.eot');
  src:url('../fonts/cremalab-icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cremalab-icons.woff') format('woff'),
    url('../fonts/cremalab-icons.ttf') format('truetype'),
    url('../fonts/cremalab-icons.svg#cremalab-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'MerriWeather-Regular';
  src:url('../fonts/Merriweather regular.ttf')
}


@font-face {
  font-family: 'AvenirNext-Regular';
  font-weight: normal;
  src: url('../fonts/AvenirNext-Regular.ttf');
}


@font-face {
  font-family: 'AvenirNext-Medium';
  font-weight: bold;
  src: url('../fonts/AvenirNext-Medium.ttf');
}

@font-face {
  font-family: 'AvenirNext-Bold';
  font-weight: bold;
  src: url('../fonts/AvenirNext-Bold.ttf');
}

