.layout-header {

  // Positioning
  position: relative;
  z-index: 2;

  // Dimensions
  padding: 10% 0;

  // Typography
  text-align: center;
  color: $white;
  a {
    color: $white;
    text-decoration: underline;
  }

  // Global Background Styles
  background-size: auto, auto, cover;
  background-position: center;

}

.layout-footer {
  display: block;
  padding: 7% 0;
  text-align: center;
  background-color: $black-light;
  font-size: 1.4em;
  color: $white;
  position: relative;
  text-decoration: none;

  .sub-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .2;
    z-index: 1;
    transition: opacity .3s;
    background-size: auto, auto, cover;
    background-position: center;
  }

  .text {
    z-index: 2;
  }

  .icon-arrow-right {
    font-size: 1.2em;
    vertical-align: middle;
    margin-left: .3em;
    position: relative;
    left: 0;
    transition: all .5s;
  }

  &:hover {
    .sub-bg {
      opacity: .4;
    }
    .icon-arrow-right {
      left: 1em;
      opacity: 0;
    }
  }
}

.layout-header, .sub-bg {
  .blog & {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      url("../images/headers/bg-blog.jpg")
  }
  .contact & {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      url("../images/headers/bg-contact.jpg")
  }
  .approach & {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      url("../images/headers/bg-approach.jpg")
  }
  .team & {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      url("../images/headers/bg-team.jpg")
  }
  .work & {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      url("../images/headers/bg-work.jpg")
  }
  .careers & {
    background-image:
      linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQIHWNgYGCoB2LiAHaVACruAP8af/BmAAAAAElFTkSuQmCC),
      url("../images/headers/bg-careers.jpg")
  }
}
