// Remote Imports
// @import "compass/css3";
// @import "compass/css3/transform";

body{
  margin:0;
}

// Local Imports (Order Dependant)
@import "01-settings/**/*";
@import "02-extends/**/*";
@import "03-base/**/*";
@import "04-modules/**/*";
@import "06-helpers/**/*";

a:hover{
  color:$cremaPurple;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



//@import "ace-github";
//@import "highlight-github";
